@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau', sans-serif;
}

body{
    position: relative;
  & dialog{
       position: absolute;
      left: 50%;
      top: 50%;
       transform: translate(-50%,-50%);
       width: 700px;
       height: fit-content;
       border: none;
       box-shadow: 2px 1px 5px 2px rgb(19, 166, 240);
       animation: show 0.5s linear forwards;
       &::backdrop{
       background-color: rgba(0,0,0,0.6);
       }
        & .modal-title{
            font-size: 40px;
            margin-inline-start: 10px;
            margin-block-end: 15px;
        }
        & #sign-up-form{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & input{
                font-size: 30px;
                padding: 5px;
                border: none;
                border-block-end: 1px solid rgb(19, 166, 240);
                outline: none;
                margin-block:15px;
                margin-inline-start: 10px;
                width: 90%;
            }
            & button{
                background-color: rgb(19, 166, 240);
                color: rgb(246, 251, 255);
                border: none;
                padding: 5px;
                border-radius: 3px;
                font-size: 30px;
                margin-block: 10px;
                margin-inline-start: 10px;
                cursor: pointer;
            }
        }
        & #add-form{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & label{
                font-size: 30px;
                margin-inline-start: 10px;
            }
            & input{
                font-size: 30px;
                padding: 5px;
                border: none;
                border-block-end: 1px solid rgb(19, 166, 240);
                outline: none;
                margin-block:15px;
                margin-inline-start: 10px;
                width: 90%;
            }
            & button{
                background-color: rgb(19, 166, 240);
                color: rgb(246, 251, 255);
                border: none;
                padding: 5px;
                border-radius: 3px;
                font-size: 30px;
                margin-block: 10px;
                margin-inline-start: 10px;
                cursor: pointer;
            }
        }
    }
    .container{
        min-height: 100vh;
        overflow: hidden;
        & .header-text{
            text-align: center;
            font-size: 120px;
            font-weight: 700;
           background-color: rgb(19, 166, 240);
            padding: 10px;
            color: rgb(246, 251, 255);
        }
        & .logout{
            display: none;
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 40px;
            font-weight: 700;
            color: rgb(246, 251, 255);
            background-color: transparent;
            border: none;
            border-block-end: 2px solid rgb(246, 251, 255);
            cursor: pointer;
        }
        & .add-new-card{
            display: none;
            position: absolute;
            left: 10px;
            top: 5px;
            font-size: 40px;
            font-weight: 700;
            color: rgb(246, 251, 255);
            background-color: transparent;
            border: none;
            border-block-end: 2px solid rgb(246, 251, 255);
            cursor: pointer;
        }
        & form,& input,& .buttons button{
            border-radius: 5px;
        }
        & form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            //display: none;
            margin:calc((100vh - 181px)*0.2) auto;
            width: 500px;
            box-shadow: 2px 1px 5px 2px rgb(19, 166, 240);
            height: calc((100vh - 181px)*0.6);
            & input,& .buttons button{
                font-size: 35px;
                padding: 5px 10px;
            }
            & input{
                outline: none;
                border: 2px solid rgb(19, 166, 240);
            }
            & .buttons{
                & button{
                    background-color: rgb(19, 166, 240);
                    color: rgb(246, 251, 255);
                    cursor: pointer;
                    border: none;
                    margin-inline: 5px;
                }
            }
        }
       & .management{
           display: none;
           margin: 0 auto;
           width: 60%;
           padding: 10px;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
        & .card{
            width: 290px;
            height: fit-content;
            border-radius: 5px;
            box-shadow: 1px 1px 3px 1px rgb(19, 166, 240);
            padding: 5px;
            margin: 20px;
            & .service{
                font-size: 30px;
                margin-block: 5px;
            }
            & label{
                font-size: 18px;
                margin-inline-end: 5px;
            }
            & input{
                font-size: 18px;
                outline: none;
                border: none;
                border-radius: 0;
                &:disabled{
                    background-color: transparent;
                }
                &:focus{
                    border-block-end: 2px solid rgb(19, 166, 240);
                }
            }
            & button{
                margin-block: 5px;
                margin-inline-end: 5px;
                font-size: 20px;
                background-color: rgb(19, 166, 240);
                padding: 2px 5px;
                border-radius: 2px;
                color: rgb(246, 251, 255);
                cursor: pointer;
                border: none;
            }
            & [data-type=ok]{
                display: none;
                text-align: end;
            }
        }
       }
    }
}

@keyframes show {
  from{opacity: 0;}
  to{opacity: 1;}
}