@import url("https://fonts.googleapis.com/css2?family=Ysabeau&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ysabeau", sans-serif;
}

body {
  position: relative;
}
body dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  box-shadow: 2px 1px 5px 2px rgb(19, 166, 240);
  animation: show 0.5s linear forwards;
}
body dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
body dialog .modal-title {
  font-size: 40px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}
body dialog #sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body dialog #sign-up-form input {
  font-size: 30px;
  padding: 5px;
  border: none;
  -webkit-border-after: 1px solid rgb(19, 166, 240);
          border-block-end: 1px solid rgb(19, 166, 240);
  outline: none;
  margin-block: 15px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  width: 90%;
}
body dialog #sign-up-form button {
  background-color: rgb(19, 166, 240);
  color: rgb(246, 251, 255);
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-size: 30px;
  margin-block: 10px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  cursor: pointer;
}
body dialog #add-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body dialog #add-form label {
  font-size: 30px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
body dialog #add-form input {
  font-size: 30px;
  padding: 5px;
  border: none;
  -webkit-border-after: 1px solid rgb(19, 166, 240);
          border-block-end: 1px solid rgb(19, 166, 240);
  outline: none;
  margin-block: 15px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  width: 90%;
}
body dialog #add-form button {
  background-color: rgb(19, 166, 240);
  color: rgb(246, 251, 255);
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-size: 30px;
  margin-block: 10px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  cursor: pointer;
}
body .container {
  min-height: 100vh;
  overflow: hidden;
}
body .container .header-text {
  text-align: center;
  font-size: 120px;
  font-weight: 700;
  background-color: rgb(19, 166, 240);
  padding: 10px;
  color: rgb(246, 251, 255);
}
body .container .logout {
  display: none;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 40px;
  font-weight: 700;
  color: rgb(246, 251, 255);
  background-color: transparent;
  border: none;
  -webkit-border-after: 2px solid rgb(246, 251, 255);
          border-block-end: 2px solid rgb(246, 251, 255);
  cursor: pointer;
}
body .container .add-new-card {
  display: none;
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 40px;
  font-weight: 700;
  color: rgb(246, 251, 255);
  background-color: transparent;
  border: none;
  -webkit-border-after: 2px solid rgb(246, 251, 255);
          border-block-end: 2px solid rgb(246, 251, 255);
  cursor: pointer;
}
body .container form, body .container input, body .container .buttons button {
  border-radius: 5px;
}
body .container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: calc((100vh - 181px) * 0.2) auto;
  width: 500px;
  box-shadow: 2px 1px 5px 2px rgb(19, 166, 240);
  height: calc((100vh - 181px) * 0.6);
}
body .container form input, body .container form .buttons button {
  font-size: 35px;
  padding: 5px 10px;
}
body .container form input {
  outline: none;
  border: 2px solid rgb(19, 166, 240);
}
body .container form .buttons button {
  background-color: rgb(19, 166, 240);
  color: rgb(246, 251, 255);
  cursor: pointer;
  border: none;
  margin-inline: 5px;
}
body .container .management {
  display: none;
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .container .management .card {
  width: 290px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgb(19, 166, 240);
  padding: 5px;
  margin: 20px;
}
body .container .management .card .service {
  font-size: 30px;
  margin-block: 5px;
}
body .container .management .card label {
  font-size: 18px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
body .container .management .card input {
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 0;
}
body .container .management .card input:focus {
  -webkit-border-after: 2px solid rgb(19, 166, 240);
          border-block-end: 2px solid rgb(19, 166, 240);
}
body .container .management .card button {
  margin-block: 5px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
  font-size: 20px;
  background-color: rgb(19, 166, 240);
  padding: 2px 5px;
  border-radius: 2px;
  color: rgb(246, 251, 255);
  cursor: pointer;
  border: none;
}
body .container .management .card [data-type=ok] {
  display: none;
  text-align: end;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */